{% extends "base.html" %}


{% block content %}


<!--	Story Data
		Title, metadata, transcript, video and images. 
-->


<div id="aboutwrap">


<h1>About Jharkhand Mobile Vaani</h1>

	
	<p>
Jharkhand Mobile Vaani(JMV) is a voice-based social media network active in the state of Jharkhand. JMV enables communities to share information, express themselves and their culture, and connect with government departments and development agencies. JMV users have in the past shared folk songs, local news and announcements, grievances and feedback on government schemes, and insights on agriculture and health practices. Access is very simple -- give a missed call to 08800097458 between 6-10am and 6-10pm, or call in to 01166030086 any time, to share your stories and listen to stories by others.	
</p>

	<br /><br /><br />
    <p>
	<iframe width="560" height="315" src="http://www.youtube.com/embed/pcYbtj82uws" frameborder="0" allowfullscreen></iframe>
	<!--<video width="560" height="315" controls="controls">
		<source src="http://www.youtube.com/embed/pcYbtj82uws" type="video/ogg" />
  		<source src="http://www.youtube.com/embed/pcYbtj82uws" type="video/mp4" />
  		Your browser does not support the video tag.
	
	</video> -->
	</p>
    
   <br />
<br />
<p>
To sponsor campaigns or reach out to the Goonj network, please visit <a href="http://www.gramvaani.org/?page_id=15">"How Goonj works"</a>
</p> 

</div>






{% endblock %}