{% extends "base.html" %}


{% block content %}



<link rel="stylesheet" type="text/css" href="/static/style_campaigns.css" />
<link rel="stylesheet" type="text/css" href="/static/style_campaigns2.css" />

<br><br>
{% load custom_filters %}
<div class = "issuelist">
{% for campaign in campaigns %}
		<div class = "issue">
				<h3 align = "left"><b>{{ campaign.Campaign_name }}</b></h3> {{ stories_list|access:forloop.counter0|length }} 
				{% if stories_list|access:forloop.counter0|length == 1 %}
					story,
				{% else %}
					stories, 
				{% endif %} 
				last updated on {{ publish_dates|access:forloop.counter0}}
				<p> 
				<label for="expand - {{ forloop.counter0 }}"><img src="/static/arrowright.png" name = "arrow"></label><br>
				{{ campaign.description }}
				</p>
				<input type="Checkbox" name="tl-group2" id = "expand - {{ forloop.counter0 }}" left: -9999px/>
				<ul class="timeline">
        <iframe src="http://106.187.101.30/ushahidi/main.htm" width="430" height="410"	scrolling = "no" ></iframe>
        <br><br	>
{% for story in stories_list|access:forloop.counter0 %}
				<div class = "messages">
					<li class="event">
						<input type="Checkbox" name="tl-group"/>
						<label></label>
						<div class="content-perspective">
							<div class="content">
								<div class="content-inner">
									<h3>{{ story.title }} <br>{{story.date}}</h3>
									<p>
									{{ story.transcript }}<br>
									<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ story.audio }}" />
</object>x
									</p>
								</div>
							</div>
						</div>
					</li>
{% endfor %}	
				</div>
				<label for="expand - {{ forloop.counter0 }}"><img src="/static/arrowleft.png" name = "arrow"></label>

				</ul>
				
	</div><!-- END OF ISSUE -->
{% endfor %}
	
</div> <!-- END OF ISSUELIST  http://106.187.101.30/ushahidi/main.htm-->

    	
{% endblock %}