{% extends "base.html" %}


{% block content %}





<!--	Story Data
		Title, metadata, transcript, video and images. 
-->


<div id="aboutwrap">

{{imp.advertiser.start_date}}

<h1>Contact Us</h1>

	<p>
Please write to us at goonj [at] gramvaani.org for any inquiries. Our office is located in the IIT Delhi campus:
</p>
<p>
TBIU Unit 9<br />
2nd floor, Synergy building<br />
IIT Delhi<br />
Hauz Khas<br />
New Delhi 110016<br />

</p>

<!--
	<ul>

        	<li> <h3> Ranchi office </h3> </li>

			<li> &nbsp; &nbsp;State coordinator, Shambhu Mahto: 97981-36599 </li>

            <li> <br /> <br /> </li>

            <li> <h3> Delhi office </h3> </li>

			<li> &nbsp; &nbsp;Advise or feedback on content, Aparna Moitra: 98185-72570 </li>

			<li> &nbsp; &nbsp;Project management, Sayonee Chatterjee or Roshan Nair: 96547-14814 </li>

            <li> <br /> <br /> </li>

        </ul>
    

-->
	<br /><br /><br />
    
   
    

</div>


{% endblock %}
