{% extends "base.html" %}


{% block content %}



<link rel="stylesheet" type="text/css" href="/static/style_timeline.css" />
<link rel="stylesheet" type="text/css" href="/static/style_timeline2.css" />


<div id="aboutwrap">

<h1> Recent Events </h1>
</div>


{% load custom_filters %}
<div class = "issuelist">
{% for event in events %}
        <div class = "issue">
                <h3 align = "left"><b>{{ event.event }}</b></h3> {{ stories_list|access:forloop.counter0|length }} 
                {% if stories_list|access:forloop.counter0|length == 1 %}
                    story,
                {% else %}
                    stories, 
                {% endif %} 
                last updated on {{ publish_dates|access:forloop.counter0}}
                <p> 
                <label for="expand - {{ forloop.counter0 }}"><img src="/static/arrowright.png" name = "arrow"></label><br>
                {{ event.synopsis }}
                </p>
                <input type="Checkbox" name="tl-group2" id = "expand - {{ forloop.counter0 }}" left: -9999px/>
                <ul class="timeline">
{% for story in stories_list|access:forloop.counter0 %}
                    <li class="event">
                        <input type="Checkbox" name="tl-group"/>
                        <label></label>
                        <div class="content-perspective">
                            <div class="content">
                                <div class="content-inner">
                                    <h3>{{ story.title }} <br>{{story.date}}</h3>
                                    <p>
                                    {{ story.transcript }}<br>
                                    <object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3={{ story.remote_audio_url }}" />
</object>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
{% endfor %}    
                <label for="expand - {{ forloop.counter0 }}"><img src="/static/arrowleft.png" name = "arrow"></label>

                </ul>
                
    </div><!-- END OF ISSUE -->
{% endfor %}
    
</div> <!-- END OF ISSUELIST -->
        
{% endblock %}




