{% extends "base.html" %}


{% block content %}




<!--	Top News
		Full page width space for top news. 
-->

<div id="topnews" style="width:880px;margin-right:auto;margin-left:auto;">

	<h1><a href="/goonj/story/{{ ts.story_id }}/">{{ ts.title }}</a></h1>
<h5> <a href="/goonj/location/{{ ts.location.district.id}}/">{{ts.location.district.name}}</a> On {{ts.date}}</h5>


<!--
{% for c in crepTS %}
	<h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{ts.date}} from <a href="/goonj/location/{{ locTS.location_id }}/">{{locTS.district}}</a>.</h6>	

{% endfor %}
-->	

	<p>

	{{ts.transcript|truncatewords:"60"}}

	</p>


<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ ts.audio }}" />
</object>

</p>

<!--

	<audio controls="controls">
  		<source src="/goonjmedia/{{ ts.audio }}" type="audio/ogg" />
  		<source src="/goonjmedia/{{ ts.audio }}" type="audio/mpeg" />  	


	</audio>

	<video width="320" height="240" controls="controls">
  		<source src="/static/movie.mp4" type="video/mp4" />
  		<source src="movie.ogg" type="video/ogg" />
  		Your browser does not support the video tag.
	</video>
-->    
    



</div>

<!--	Top News ends  -->

<hr />

<!--	Wrapper 2
		Contains sidebar and rightblocks 
-->

<div id="wrap2" style="width:880px;margin-right:auto;margin-left:auto;">

<!--	Side Bar   

		Contains map, statistics 
-->
<div id="content" class="leftblock">


<h1> <a href="/goonj/story/{{ l9.story_id }}/">{{ l9.title }}</a></h1>
<h5> <a href="/goonj/location/{{ l9.location.district.id}}/">{{l9.location.district.name}}</a> On {{l9.date}}</h5>


<!--

        {% for c in crep9 %}
                <h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{l9.date}} from <a href="/goonj/location/{{ loc9.location_id }}/">{{loc9.district}}</a>.</h6>

        {% endfor %}
-->


        <p>

                {{ l9.transcript|truncatewords:"20"}}
        </p>


<div id="conframe">
<!-- <embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ l9.audio }}" height="40" width="300" > -->
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ l9.audio }}" />
</object>

</p>


</div>
<br />


</div>


<div id="content" class="rightblock">


<h1><a href="/goonj/story/{{ l10.story_id }}/">{{ l10.title }}</a></h1>
<h5> <a href="/goonj/location/{{ l10.location.district.id}}/">{{l10.location.district.name}}</a> On {{l10.date}}</h5>


<!--

        {% for c in crep10 %}
                <h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{l10.date}} from <a href="/goonj/location/{{ loc10.location_id }}/">{{loc10.district}}</a>.</h6>

        {% endfor %}
-->


        <p>

                {{ l10.transcript|truncatewords:"20"}}
        </p>


<div id="conframe">
<!-- <embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ l10.audio }}" height="40" width="300" > -->
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ l10.audio }}" />
</object>

</p>


</div>

</div>











<div id="content" class="leftblock">


<h1><a href="/goonj/story/{{ l11.story_id }}/">{{ l11.title }}</a></h1>
<h5> <a href="/goonj/location/{{ l11.location.district.id}}/">{{l11.location.district.name}}</a> On {{l11.date}}</h5>



<!--

        {% for c in crep11 %}
                <h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{l11.date}} from <a href="/goonj/location/{{ loc9.location_id }}/">{{loc9.district}}</a>.</h6>

        {% endfor %}
-->


        <p>

                {{ l11.transcript|truncatewords:"20"}}
        </p>


<div id="conframe">
<!-- <embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ l11.audio }}" height="40" width="300" > -->
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ l11.audio }}" />
</object>

</p>


</div>

</div>









<!--
Leftblock zone over

-->
<!--	Side bar ends  -->

<!--	Rightblocks
		Contain 2 media articles 
-->

<div id="content" class="rightblock">

<h1><a href="/goonj/story/{{ l0.story_id }}/">{{ l0.title }}</a></h1>
<h5> <a href="/goonj/location/{{ l0.location.district.id}}/">{{l0.location.district.name}}</a> On {{l0.date}}</h5>



<!--

        {% for c in crep0 %}	
		<h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{l0.date}} from <a href="/goonj/location/{{ loc0.location_id }}/">{{loc0.district}}</a>.</h6>
            
	{% endfor %}	
-->
	

	<p>

		{{ l0.transcript|truncatewords:"20"}}
	</p>


<div id="conframe">
<!-- <embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ l0.audio }}" height="40" width="300" > -->
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ l0.audio }}" />
</object>

</p>


</div>
<br />
<br />
<!--	
	<audio controls="controls">
  		<source src="/media/{{ l0.audio }}" type="audio/ogg" />
  		<source src="/media/{{ l0.audio }}" type="audio/mpeg" />
  		Your browser does not support the audio element.
	</audio>
-->


    
</div>


<div id="content" class="leftblock">


<h1><a href="/goonj/story/{{ l1.story_id }}/">{{ l1.title }}</a></h1>
<h5> <a href="/goonj/location/{{ l1.location.district.id}}/">{{l1.location.district.name}}</a> On {{l1.date}}</h5>


   <!--     {% for c in crep1 %}	
		<h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{l1.date}} from <a href="/goonj/location/{{ loc1.location_id }}/">{{loc1.district}}</a>.</h6>
            
	{% endfor %}	
-->
	

	<p>

		{{ l1.transcript|truncatewords:"20"}}
	</p>


<div id="conframe">
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ l1.audio }}" />
</object>

</p>

<!-- <embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ l1.audio }}" height="40" width="300" > -->
</div>
<br />
<br />


<!--
	<audio controls="controls">
  		<source src="/media/{{ l1.audio }}" type="audio/ogg" />
  		<source src="/media/{{ l1.audio }}" type="audio/mpeg" />
  		Your browser does not support the audio element.
	</audio>
-->


    
</div>


<div id="content" class="rightblock">


<h1><a href="/goonj/story/{{ l2.story_id }}/">{{ l2.title }}</a></h1>
<h5> <a href="/goonj/location/{{ l2.location.district.id}}/">{{l2.location.district.name}}</a> On {{l2.date}}</h5>


   <!--     {% for c in crep2 %}	
		<h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{l2.date}} from <a href="/goonj/location/{{ loc2.location_id }}/">{{loc2.district}}</a>.</h6>
            
	{% endfor %}	
-->
	

	<p>

		{{ l2.transcript|truncatewords:"20"}}
	</p>


<div id="conframe">
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ l2.audio }}" />
</object>

</p>

</div>
<!--
	<audio controls="controls">
  		<source src="/media/{{ l2.audio }}" type="audio/ogg" />
  		<source src="/media/{{ l2.audio }}" type="audio/mpeg" />
  		Your browser does not support the audio element.
	</audio>
-->

</div>


<!--	Right blocks end  -->

</div>


<!--	Wrapper 2 ends  -->

<!--	Wrapper 3
		Contains left and right media article 
        Will run twice
-->

<div id="wrap3"style="width:880px;margin-right:auto;margin-left:auto;">


<!--	Left block
		Contains left media article 
-->

<div id="content" class="leftblock">

<h1><a href="/goonj/story/{{ l3.story_id }}/">{{ l3.title }}</a></h1>
<h5> <a href="/goonj/location/{{ l3.location.district.id}}/">{{l3.location.district.name}}</a> On {{l3.date}}</h5>

  <!--      {% for c in crep3 %}	
		<h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{l3.date}} from <a href="/goonj/location/{{ loc3.location_id }}/">{{loc3.district}}</a>.</h6>
            
	{% endfor %}	
-->
	

	<p>

		{{ l3.transcript|truncatewords:"20"}}
	</p>


<div id="conframe">
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ l3.audio }}" />
</object>

</p>

<!-- <embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ l3.audio }}" height="40" width="300" > -->
</div>
<br />
<br />

<!--
	<audio controls="controls">
  		<source src="/media/{{ l3.audio }}" type="audio/ogg" />
  		<source src="/media/{{ l3.audio }}" type="audio/mpeg" />
  		Your browser does not support the audio element.
	</audio>
-->


    
</div>

<!--	Left block ends   -->


<!--	Right block
		Contains right media article 
-->

<div id="content" class="rightblock">


<h1><a href="/goonj/story/{{ l5.story_id }}/">{{ l5.title }}</a></h1>
<h5> <a href="/goonj/location/{{ l5.location.district.id}}/">{{l5.location.district.name}}</a> On {{l5.date}}</h5>

        {% for c in crep5 %}	
		<h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{l5.date}} from <a href="/goonj/location/{{ loc5.location_id }}/">{{loc5.district}}</a>.</h6>
            
	{% endfor %}	

	

	<p>

		{{ l5.transcript|truncatewords:"20"}}
	</p>


<div id="conframe">
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ l5.audio }}" />
</object>

</p>

<!-- <embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ l5.audio }}" height="40" width="300" > -->
</div>
<br />
<br />

<!--
	<audio controls="controls">
  		<source src="/media/{{ l5.audio }}" type="audio/ogg" />
  		<source src="/media/{{ l5.audio }}" type="audio/mpeg" />
  		Your browser does not support the audio element.
	</audio>
-->


    
</div>

<!--	Right block ends   -->


</div>

<!--	Wrapper 3 ends   -->


<!--	Wrapper 3
		Contains left and right media article 
-->

<div id="wrap3" style="width:880px;margin-right:auto;margin-left:auto;">


<!--	Left block
		Contains left media article 
-->

<div id="content" class="leftblock">


<h1><a href="/goonj/story/{{ l4.story_id }}/">{{ l4.title }}</a></h1>
<h5> <a href="/goonj/location/{{ l4.location.district.id}}/">{{l4.location.district.name}}</a> On {{l4.date}}</h5>

<!--        {% for c in crep4 %}	
		<h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{l4.date}} from <a href="/goonj/location/{{ loc4.location_id }}/">{{loc4.district}}</a>.</h6>
            
	{% endfor %}	
-->
	

	<p>

		{{ l4.transcript|truncatewords:"20"}}
	</p>	


<div id="conframe">
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ l4.audio }}" />
</object>

</p>

<!-- <embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ l4.audio }}" height="40" width="300" > -->
</div>
<br />
<br />

<!--
	<audio controls="controls">
  		<source src="/media/{{ l4.audio }}" type="audio/ogg" />
  		<source src="/media/{{ l4.audio }}" type="audio/mpeg" />
  		Your browser does not support the audio element.
	</audio>
-->


    
</div>

<!--	Left block ends   -->


<!--	Right block
		Contains right media article 
-->

<div id="content" class="rightblock">


<h1><a href="/goonj/story/{{ l6.story_id }}/">{{ l6.title }}</a></h1>
<h5> <a href="/goonj/location/{{ l6.location.district.id}}/">{{l6.location.district.name}}</a> On {{l6.date}}</h5>

 <!--       {% for c in crep6 %}	
		<h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{l6.date}} from <a href="/goonj/location/{{ loc6.location_id }}/">{{loc6.district}}</a>.</h6>
            
	{% endfor %}	
-->
	

	<p>

		{{ l6.transcript|truncatewords:"20"}}
	</p>


<div id="conframe">
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ l6.audio }}" />
</object>

</p>

<!-- <embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ l6.audio }}" height="40" width="300" > -->
</div>
<br />
<br />

<!--
	<audio controls="controls">
  		<source src="/media/{{ l6.audio }}" type="audio/ogg" />
  		<source src="/media/{{ l6.audio }}" type="audio/mpeg" />
  		Your browser does not support the audio element.
	</audio>
-->


    
</div>

<!--	Right block ends   -->






<!--	Left block
		Contains left media article 
-->

<div id="content" class="leftblock">


<h1><a href="/goonj/story/{{ l7.story_id }}/">{{ l7.title }}</a></h1>
<h5> <a href="/goonj/location/{{ l7.location.district.id}}/">{{l7.location.district.name}}</a> On {{l7.date}}</h5>

<!--        {% for c in crep7 %}	
		<h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{l7.date}} from <a href="/goonj/location/{{ loc7.location_id }}/">{{loc7.district}}</a>.</h6>
            
	{% endfor %}	
-->
	

	<p>

		{{ l7.transcript|truncatewords:"20"}}
	
	</p>

<div id="conframe">
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ l7.audio }}" />
</object>

</p>

<!-- <embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ l7.audio }}" height="40" width="300" > -->
</div>
<br />
<br />

<!--
	<audio controls="controls">
  		<source src="/media/{{ l7.audio }}" type="audio/ogg" />
  		<source src="/media/{{ l7.audio }}" type="audio/mpeg" />
  		Your browser does not support the audio element.
	</audio>
-->


    
</div>

<!--	Left block ends   -->


<!--	Right block
		Contains right media article 
-->

<div id="content" class="rightblock">


<h1><a href="/goonj/story/{{ l8.story_id }}/">{{ l8.title }}</a></h1>
<h5> <a href="/goonj/location/{{ l8.location.district.id}}/">{{l8.location.district.name}}</a> On {{l8.date}}</h5>

<!--
        {% for c in crep8 %}	
		<h6>Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{l8.date}} from <a href="/goonj/location/{{ loc8.location_id }}/">{{loc8.district}}</a>.</h6>
            
	{% endfor %}	
-->
	

	<p>

		{{ l8.transcript|truncatewords:"20"}}
		
	</p>

<div id="conframe">
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ l8.audio }}" />
</object>

</p>

<!-- <embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ l8.audio }}" height="40" width="300" > -->
</div>

<!--
	<audio controls="controls">
  		<source src="/media/{{ l8.audio }}" type="audio/ogg" />
  		<source src="/media/{{ l8.audio }}" type="audio/mpeg" />
  		Your browser does not support the audio element.
	</audio>
-->


    
</div>

<!--	Right block ends   -->

</div>

<!--	Wrapper 3 ends   -->

<!--
		Regional Block
        Contains particulars for the region
-->


<!--
<div id="regtext" class="regionblock">

<h1> Regional </h1>

	<ul>
		<li><a href="#">Update 1</a>
        	<p> This is an update text information to test here.</p>
        </li>
		<li><a href="#">Update1</a>
           	<p> This is an update text information to test here.</p>
        </li>
		<li><a href="#">Update3</a>
        	<p> This is an update text information to test here.</p>    
        </li>
	</ul>



</div>

-->
<!--	Regional Block ends   -->

<a href="/goonj/" > <img src="/static/line.jpg"  width = "1080px"/> </a>

{% endblock %}