
{% extends "base.html" %}


{% block content %}


<a target="_blank" 
    class="btn btn-info pull-right" 
    href="{% url  goonj.views.increment %}/?next={{network.url|urlencode:''}}">
    <img src= "/goonjmedia/{{ network.bannerPhoto}}"  align="absmiddle" height="110" />
</a>

<!--	Story Data
		Title, metadata, transcript, video and images. 
-->


<div id="top10wrap" style="width:880px;margin-right:auto;margin-left:auto;">


  	<h1> Stories </h1>
<br /> <br />

  	

{% if story_list %}
	<ul>
	{% for story in story_list %}
		<li>
		<h3><a href="/goonj/story/{{ story.story_id }}/">{{ story.title }}</a></h3>

               <h5> <a href="/goonj/location/{{ story.location.district.id }}/">{{story.location.district.name}}</a> On {{story.date}}</h5>

        	 <p>{{story.transcript}}</p>



        {% if story.audio %}
<!--
	        <audio controls="controls">
                        <source src="/media/{{ story.audio }}" type="audio/ogg" />
                        <source src="/media/{{ story.audio }}" type="audio/mpeg" />
                        Your browser does not support the audio element.
                </audio>

<p>
<embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ story.audio }}" height="40" width="300" >
        {% endif %}
</p>
-->
<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3=/goonj/goonjmedia/{{ story.audio }}" />
</object>

</p>
	
	</li>
        <br /> <hr /> <br />



	{% endfor %}
	</ul>

<div class="pagination">
    <span class="step-links">
        {% if story_list.has_previous %}
            <a href="/goonj/all_stories/?page={{ story_list.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ story_list.number }} of {{ story_list.paginator.num_pages }}.
        </span>

        {% if story_list.has_next %}
            <a href="/goonj/all_stories/?page={{ story_list.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>



{% else %}
	<p>No stories are available.</p>
{% endif %} 

    

</div>




{% endblock %}