
{% extends "base.html" %}


{% block content %}



<!--    Story Data
        Title, metadata, transcript, video and images. 
-->


<div id="storywrap" style="width:880px;margin-right:auto;margin-left:auto;">


<h1>{{story.title}}</h1>
<h5> <a href="/goonj/location/{{ loc.id }}/">{{loc.name}}</a> On {{story.date}}</h5> 


<!--
    {% for c in crep %}
            <h6> Posted by <a href="/goonj/community_rep/{{ c.community_rep_id }}/">{{c}}</a> on {{story.date}} from <a href="/goonj/location/{{ loc.location_id }}/">{{loc.district}}</a>.</h6>
        {% endfor %}  
-->
    <p>

{{story.transcript}} 
    </p>


{% if story.remote_audio_url %}
<!--
    <p>
    <audio controls="controls">
        <source src="/media/{{ story.audio }}" type="audio/mpeg" />
        <embed type="application/x-mplayer2" src="/media/{{ story.audio }}" height="40" width="300" >
        Your browser does not support the audio element.
    </audio>
    </p>
-->

<!-- <div id="audiobox"> -->
<!--
<object width="400" height="40"
classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
codebase="http://fpdownload.macromedia.com/
pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
<param name="SRC" value="/media/{{ story.audio }}">
<embed src="/media/{{ story.audio }}" width="400" height="40">
</embed>
</object>


<embed height="45" width="300" src="/media/{{ story.audio }}" >


<embed type="application/x-shockwave-flash" flashvars="audioUrl=MP3_FILE_URL" src="/media/{{ story.audio }}" width="400" height="27" quality="best"></embed>



<object type="audio/mpeg" data="/media/{{ story.audio }}">
    <param name="controller" value="true" />
    <param name="autoplay" value="false" />    
</object> -->
          
<!--<embed type="application/x-mplayer2" autostart="false" src="/goonjmedia/{{ story.audio }}" height="40" width="300" >



</div> -->

<p>

<object type="application/x-shockwave-flash" data="/static/player.swf" width="300" height="40">
     <param name="movie" value="/static/player.swf" />
     <param name="FlashVars" value="mp3={{story.remote_audio_url}}" />
</object>

</p>

{% endif %}

<div id="storywrap img" >

{% if channels != 0 %}
  {% for channel in channels %}

  <a href="/capture/{{channel.id}}" > <img src= "/goonjmedia/{{channel.adv_type.Advertiser.smallPhoto}}"  align="left" height="35" &nbsp; /> </a>

  {% endfor %}
{% endif %}

<div/>

  <a href="#" 
  onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
<img src="/static/fshare.jpg"  align="absmiddle" height="40" /> </a>
</a>

<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">

<img src="/static/tshare.jpg"  align="absmiddle" height="35" /> </a>
</a>

{% if story.video %}
    
    <p>
    <video width="320" height="240" controls="controls">
        <source src="/goonjmedia/{{ story.video }}" type="video/mp4" />
        <source src="/goonjmedia/{{ story.video }}" type="video/ogg" />
        Your browser does not support the video tag.
    </video>
    </p>
{% endif %}
    
    <p>
    <ul>
        {% for p in photoList %}
        <li><a href= "/goonjmedia/{{ p.photo }}" > <img src="/goonjmedia/{{ p.photo }}" height="250" width= "140"  /> </a></li>
        {% endfor %}
    </ul>   
    </p>

 <p>
        
    </p>
    
 


</div>



{% endblock %}
