
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 20px 0;
	background: #FFFFFF;
}

body, th, td, input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
}

form {
	
}

fieldset {
}

input, textarea {
	font-weight: bold;
}

input.text {
	padding: 2% 5px;
	background: #FFFFFF;
	border-top: 1px solid #CC3399;
	border-left: 1px solid #CC3399;
	border-right: 1px solid #CC3399;
	border-bottom: 1px solid #CC3399;
}

input.button {
	background: #FFFFFF;
	/*border-top: 1px solid #CC3399;
	border-left: 1px solid #CC3399;
	border-right: 1px solid #CC3399;
	border-bottom: 1px solid #CC3399;*/
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	font-size: 1.5em;
	color: #000000;
}

h1, h2, h3 {
	margin-top: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000000;
}

h1 {
	letter-spacing: -.075em;
	font-size: 3em;
}

h2 {
	letter-spacing: -.05em;
	font-size: 1.8em;
	font-weight: normal;
	color: #8D8E85;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 1.5em;
	line-height: 1.8em;
	font-size: 1.1em;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	text-decoration: none;
	/*border-bottom: 1px dotted #B8D03B;*/
	color: #3C7BCF;
}

a:hover {
	color: #450544;
}

h1 a, h2 a, h3 a {
	border: none;
	text-decoration: none;
	color: #000000;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	background: none;
	border-bottom: 1px dotted #B8D03B;
	color: #003300;
}

/*hr {
	display: none;
	color:#3F3;
	display:marker;
}*/

/* Wrapper */

#wrapper {
}

/* Header */

#header {
	width: 980px;
	height: 35px;
	margin: 0 auto;
}

#menu {
	float: left;
	margin-left: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
	
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 25px;
	margin-right: 1px;
	padding: 10px 40px 0 40px; 
	background: #FFFFFF;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
	color: #000000;
}

#menu a:hover {
	background: #003333;
	color: #FFFFFF;
}

#menu .current_page_item a {
	background: #450544;
	color: #FFFFFF;
}


/* Search and Channels */

#search {
	float: left;
	width: 12%;
	padding-top: 7px;
	padding-left: 2%;
}

#search fieldset {
	border:medium;
}

#search #s {
	width: 75%;
	
}

#search #x {
	width: 75px;
	
}

#search h2 {
	letter-spacing: -.05em;
	font-size: 1.7em;
	font-weight: normal;
	font-family:"Times New Roman", Times, serif;
	color:#CC3399;
}

#search h3 {
	letter-spacing: -.05em;
	font-size: 1.3em;
	font-weight: normal;
	color:#CC3399;
}

#search ul {
	margin: 0;
	padding: 5% 5% 0 5%;
	list-style: none;
	line-height: normal;
	
}

#search li {
	
	padding: 10% 5% 5% 5%;
}

#search a:hover {
	border: none;
	border-color: #0099CC;
	background: #FFFFFF;
	font-color: #0099CC;
	padding: 3px 3px 3px 3px;
}


/* Logo */

#logo {
	width:auto;
	/*width: 980px;*/
	margin: 0 auto;
	height: 115px;
	background: #FFFFFF;
	
	/*border: 1px solid #22223B;*/
	color:#000000;
}

#logo h1, #logo h2 {
	float: 
	margin: 0;
	padding: 0;
}

/*#logo h1 {
	padding: 12px 5px 0 20px;
}*/

#logo h2 {
	padding: 45px 0 0 0;
	font-style: italic;
}

#logo p {
	clear: left;
	margin: 0;
	padding: 0 0 0 20px;
	line-height: normal;
	font-size: 1.2em;
	font-weight: bold;
	color: #3421B1;
}

/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 20px 0;
	background: #FFFFFF;
/*	border: 1px solid #000000;
	border-top: 1px solid #000000;*/
}

/* Content */

#content {
	float: left;
	width: 38%;
	padding: 40px 24px 0 40px;
	text-align: justify;
}

.post {
}

.post .title {
	margin: 0;
	font-weight: normal;
	color: #006699;
	
}

.post h1.title {
	font-size: 2.5em;
	color: #006699;
	font-weight: 600;
	
	
}

.post .entry {
	padding-bottom: 30px;
	font-size: 1.2em;
	font-family: "Times New Roman", Times, serif;
	color: #000000;
}

.post .meta {
	margin: 0;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
	color: #CFCFCF;
}

.post .meta a {
	color: #CFCFCF;
}

.post .links {
	margin: 0;
}

.post .tags {
	margin: 0;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
	background: url(images/img04.gif) repeat-x;
}

.post .links a, .post .tags a {
	border: none;
}

/* Recent Posts */

#recent-posts {
}

#recent-posts h3 {
	margin: 0;
}

#recent-posts p {
	margin: 0 0 1.5em 0;
	font-size: .9em;
}

/* Sidebars */

.sidebar {
	float: left;
	background: url(images/img03.gif) repeat-y;
	border: thick;
	border: #123233;
	padding: 40px 40px 40px 40px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	margin-bottom: 2em;
}

.sidebar li ul {
}

.sidebar li li {
	margin: 0;
}

.sidebar li h2 {
	margin: 0 0 1em 0;
}

#sidebar1 {
	width: 42%;
	padding: 50px 50px 50px 50px;
	text-align: justify;
	border:thick;
	border:#06C000;
}

#sidebar2 {
	width: 19%;
	padding: 25px 0 0 11px;
	text-align: justify;
}

#sidebar2 li ul {
	line-height: normal;
	background: url(images/img04.gif) repeat-x;
}

#sidebar2 li li {
	padding: 5px;
	background: url(images/img04.gif) repeat-x left bottom;
	font-size: .8em;
}

#sidebar2 li a {
	border: none;
}

/* Calendar */

#calendar {
}

#calendar caption {
	font-weight: bold;
}

#calendar table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

#calendar thead th {
	background: #CCCCCC;
	color: #FFFFFF;
}

#calendar tbody td {
	background: #EEEEEE;
}

#calendar #today {
	background: #B8D03B;
	font-weight: bold;
	color: #FFFFFF;
}

#calendar a {
	font-weight: bold;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	text-align: center;
	font-size: .8em;
}