a:link { color: rgb(0,102,153); }
a:visited { color: rgb(0,153,102); } 
a:active { color: rgb(0,102,102); }
body { font-family: Arial, Helvetica; background-color: rgb(204,204,153); 
color: rgb(0,51,51); }